<div class="mt-4">
    <form>
        <div class="form-group">
            <label for="search-input">Search</label>
            <input type="text" name="name" class="form-control" placeholder="Enter Search">
            <input type="text" name="fullname" class="form-control" placeholder="Enter Search">
            <input type="search" name="q" id="search-input" class="form-control" 
                placeholder="Enter Search">
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>